{% extends 'base.html' %}
{% block content %}
    <div class="between-levels-forms">

        <h1>Ukończono poziom! Wybierz statystykę do rozwoju. </h1>
        <form action="{{ url_for('between_levels_hotseat') }}" method="post" class="levels-form">
            <div class="player1-form">

                <p>Wybierz statystykę do rozwoju dla : {{ player1.name }}</p>
                <select name="player1_stat" required>
                    <option value="health">HP</option>
                    <option value="attack">Atak</option>
                </select>
            </div>
            <div class="player2-form">

                <p>Wybierz statystykę do rozwoju dla : {{ player2.name }}</p>
                <select name="player2_stat" required>
                    <option value="health">HP</option>
                    <option value="attack">Atak</option>
                </select>

            </div>
            <button type="submit">Dalej</button>
        </form>
        <h1>Item shop</h1>
        <p>Items for: {{ player1.name }}</p>
        <p>You have {{ player1.gold }} gold</p>
        <p>You have {{ player1.health_potions }} health potions</p>
        <p>You have {{ player1.attack_potions }} attack potions</p>
        <p>You have {{ player1.mysterious_potions }} mysterious potions</p>
        <form action="{{ url_for('vendor_hotseat_1') }}" method="post">
            <button type="submit" name="action" value="attack">Attack potion</button>
            <button type="submit" name="action" value="health">Health potion</button>
            <button type="submit" name="action" value="mysterious-potion">Mysterious potion(150g)</button>

        </form>
        <p>Items for:: {{ player2.name }}</p>
        <p>You have {{ player2.gold }} gold</p>
        <p>You have {{ player2.health_potions }} health potions</p>
        <p>You have {{ player2.attack_potions }} attack potions</p>
        <p>You have {{ player2.mysterious_potions }} mysterious potions</p>
        <form action="{{ url_for('vendor_hotseat_2') }}" method="post">
            <button type="submit" name="action" value="attack">Attack potion</button>
            <button type="submit" name="action" value="health">Health potion</button>
            <button type="submit" name="action" value="mysterious-potion">Mysterious potion(150g)</button>

        </form>
    </div>
{% endblock %}
