{% extends 'base.html' %}
{% block content %}
    <h1>Ukończono poziom! Wybierz statystykę do rozwoju. </h1>
    <form action="{{ url_for('between_levels_hotseat') }}" method="post">
        <p>Wybierz statystykę do rozwoju dla : {{ player1.name }}</p>
        <input type="radio" name="player1_stat" value="health">HP<br>
        <input type="radio" name="player1_stat" value="attack">Atak<br>
        <p>Wybierz statystykę do rozwoju dla : {{ player2.name }}</p>
        <input type="radio" name="player2_stat" value="health">HP<br>
        <input type="radio" name="player2_stat" value="attack">Atak<br>
        <input type="submit" value="Dalej">
    </form>
    {#    <form action="{{ url_for('next_level') }}" method="post">#}
    {#        <input type="submit" value="Dalej">#}
    {#    </form>#}
{% endblock %}
