{% extends 'base.html' %}
{% block content %}
    <p> {{ player1.name }} i {{ player2.name }} </p>
    <p> {{ player1.name }} Health: {{ player1.health }} </p>
    <p> {{ player1.name }} Attack: {{ player1.attack }} </p>
    <p> {{ player1.name }} Action points: {{ player1.action_points }} </p>
    <p> {{ player2.name }} Health: {{ player2.health }} </p>
    <p> {{ player2.name }} Attack: {{ player2.attack }} </p>
    <p> {{ player2.name }} Action points: {{ player2.action_points }} </p>

    <p>Enemy: {{ enemy.name }}</p>
    <p>Enemy Health: {{ enemy.health }}</p>
    <p>Enemy Attack: {{ enemy.attack }}</p>
    {% if current_player == player1 %}
        <p> Tura {{ player1.name }} </p>
        <form action="{{ url_for('hotseat_fight') }}" method="post">
            <input type="submit" name="action" value="attack">
            <input type="submit" name="action" value="heal">
            <input type="submit" name="action" value="pass">
        </form>
    {% else %}
        <p> Tura {{ player2.name }} </p>
        <form action="{{ url_for('hotseat_fight') }}" method="post">
            <input type="submit" name="action" value="attack">
            <input type="submit" name="action" value="heal">
            <input type="submit" name="action" value="pass">
        </form>
    {% endif %}

{% endblock %}
```
{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#    <p> {{ player1.name }} i {{ player2.name }} </p>#}
{#    <p> {{ player1.name }} Health: {{ player1.health }} </p>#}
{#    <p> {{ player1.name }} Attack: {{ player1.attack }} </p>#}
{#    <p> {{ player2.name }} Health: {{ player2.health }} </p>#}
{#    <p> {{ player2.name }} Attack: {{ player2.attack }} </p>#}
{#    <p>Enemy: {{ enemy.name }}</p>#}
{#    <p>Enemy Health: {{ enemy.health }}</p>#}
{#    <p>Enemy Attack: {{ enemy.attack }}</p>#}
{#    {% if current_player == player1 %}#}
{#        <p> Tura {{ player1.name }} </p>#}
{#        <a href="{{ url_for('hotseat_fight') }}"> {{ player1.name }} Attack </a>#}
{#    {% else %}#}
{#        <p> Tura {{ player2.name }} </p>#}
{#        <a href="{{ url_for('hotseat_fight') }}"> {{ player2.name }} Attack </a>#}
{#    {% endif %}#}
{##}
{#{% endblock %}#}
{#```#}