{% extends 'base.html' %}
{% block content %}
    <div class="battle-window">
        <div class="battle-player">
            <h2>{{ current_player.name }}</h2>
            <p>Health: {{ current_player.health }}</p>
            <p>Attack: {{ current_player.attack }}</p>
            <img class="character-image"
                 src="{{ url_for('static', filename='img/player/' + current_player.character.lower() + '.png') }}"
                 alt="player">
        </div>
        <div class="battle-enemy">
            {% if enemy.name == 'Kid1' or enemy.name == 'Kid2' or enemy.name == 'Kid3' or enemy.name == 'Kid4' %}
                <h2>Elf</h2>
            {% else %}
                <h2>{{ enemy.name }}</h2>
            {% endif %}
            <p>Enemy Health: {{ enemy.health }}</p>
            <p>Enemy Attack: {{ enemy.attack }}</p>
            <img class="character-image"
                 src="{{ url_for('static', filename='img/characters/' + enemy.name.lower() + '.png') }}" alt="enemy">

        </div>
    </div>

    <div class="battle-options">
        <h2> Action points: {{ current_player.action_points }} ⚔️</h2>
        <form action="{{ url_for('hotseat_fight') }}" method="post">
            <div class="battle-options-skills">
                <button type="submit" name="action" value="attack">⚔️ Attack (-4)</button>
                <button type="submit" name="action" value="quick_attack">⚔️ Quick attack (-2)</button>
                {% if current_player.character == 'Priest' %}
                    <button type="submit" name="action" value="priest_heal">🍷 Heal (-2)</button>
                {% endif %}
            </div>
            <div class="battle-options-consumables">
                {% if current_player.health_potions > 0 %}
                    <button type="submit" name="action" value="heal">🍷 Use health potion (-1)</button>
                {% endif %}
                {% if current_player.attack_potions > 0 %}
                    <button type="submit" name="action" value="attack_potion">💪 Use attack potion (-1)</button>
                {% endif %}
                {% if current_player.mysterious_potions > 0 %}
                    <button type="submit" name="action" value="mysterious_potion">❓ Use mysterious potion (-1)</button>
                {% endif %}
            </div>
            <div class="battle-options-pass">
                <button type="submit" name="action" value="pass">⏭️ Pass</button>
            </div>
        </form>
        <p>Your heal potions: {{ current_player.health_potions }} 🍷</p>
        <p>Your attack potions: {{ current_player.attack_potions }} 💪</p>
    </div>

{% endblock %}
