{% extends 'base.html' %}
{% block content %}
    <h1>Create characters:</h1>
    <h2><a href="{{ url_for('guide') }}" target="_blank">Guide</a></h2>
    <div class="character-create-form">
        <form action="{{ url_for('hotseat_start') }}" method="post">
            <h2>Player 1:</h2>
            <label for="name1">Name:</label>
            <input type="text" name="name1" id="name1" required>
            <br>
            <br>
            <label for="character1">Pick your class:</label>

            <div class="character-frames">
                <div class="fighter-frame">
                    <input type="radio" name="character1" id="fighter1" value="fighter" checked>
                    <label for="fighter1">
                        <img src="{{ url_for('static', filename='img/player/fighter.png') }}" alt="fighter">
                        Fighter
                    </label>
                </div>
                <div class="mage-frame">
                    <input type="radio" name="character1" id="mage1" value="mage">
                    <label for="mage1">
                        <img src="{{ url_for('static', filename='img/player/mage.png') }}" alt="mage">
                        Mage
                    </label>
                </div>
                <div class="thief-frame">
                    <input type="radio" name="character1" id="thief1" value="thief">
                    <label for="thief1">
                        <img src="{{ url_for('static', filename='img/player/thief.png') }}" alt="thief">
                        Thief
                    </label>
                </div>
                <div class="priest-frame">
                    <input type="radio" name="character1" id="priest1" value="priest">
                    <label for="priest1">
                        <img src="{{ url_for('static', filename='img/player/priest.png') }}" alt="priest">
                        Priest
                    </label>
                </div>
            </div>

            <h2>Player 2:</h2>
            <label for="name2">Name:</label>
            <input type="text" name="name2" id="name2" required>
            <br>
            <br>
            <label for="character2">Pick your class:</label>
            <div class="character-frames">
                <div class="fighter-frame">
                    <input type="radio" name="character2" id="fighter2" value="fighter" checked>
                    <label for="fighter2">
                        <img src="{{ url_for('static', filename='img/player/fighter.png') }}" alt="fighter">
                        Fighter
                    </label>
                </div>
                <div class="mage-frame">
                    <input type="radio" name="character2" id="mage2" value="mage">
                    <label for="mage2">
                        <img src="{{ url_for('static', filename='img/player/mage.png') }}" alt="mage">
                        Mage
                    </label>
                </div>
                <div class="thief-frame">
                    <input type="radio" name="character2" id="thief2" value="thief">
                    <label for="thief2">
                        <img src="{{ url_for('static', filename='img/player/thief.png') }}" alt="thief">
                        Thief
                    </label>
                </div>
                <div class="priest-frame">
                    <input type="radio" name="character2" id="priest2" value="priest">
                    <label for="priest2">
                        <img src="{{ url_for('static', filename='img/player/priest.png') }}" alt="priest">
                        Priest
                    </label>
                </div>
            </div>

            {#            <input type="submit" value="Stwórz">#}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
{% endblock %}


