*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    background: url("../img/backgrounds/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.site-header {
    background-color: rgba(255, 90, 232, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffd700;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.main-content {
    background-color: rgba(255, 90, 232, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.main-content-text {
    margin: 1rem;
}

.main-content-text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main-content-img img {
    width: 100%;
    max-width: 200px;
    margin: 1rem;
}

.character-create-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.character-create-form label {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

.character-create-form label:hover {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

/*for radio*/
.character-create-form input[type="radio"] {
    visibility: hidden;
}

.character-create-form input[type="radio"]:checked + label {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}


.character-create-form input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

.character-create-form button[type="submit"] {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    cursor: pointer;
}

.character-create-form button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.character-create-form button[type="submit"]:active {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.character-create-form button[type="submit"]:focus {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.character-create-form select {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}


.character-create-form img {
    width: auto;
    height: 150px;
}

.fighter-frame, .thief-frame, .mage-frame, .priest-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.character-frames {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.lobby {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.lobby h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.lobby p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.join-room h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.join-room p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.join-room ul {
    list-style: none;
    margin: 1rem;
}

.join-room ul li {
    list-style: none;
    margin: 1rem;
}

.join-room ul li a {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

.battle-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.battle-options h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.battle-options form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
}

.battle-options button[type="submit"] {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    cursor: pointer;
}

.battle-options button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.between-levels-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.between-levels-forms h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.between-levels-forms form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.between-levels-forms button[type="submit"] {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    cursor: pointer;
}

.between-levels-forms button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

/*for radio type*/

.between-levels-forms input[type="radio"] {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    cursor: pointer;
}

.between-levels-forms input[type="radio"]:hover {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.between-levels-forms input[type="radio"]:active {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.levels-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.levels-form h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.levels-form select {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

.levels-form input[type="submit"] {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    cursor: pointer;
}

/*.battle-window {*/
/*    background: url("../img/assets/arena.png") no-repeat center center fixed;*/

/*}*/

/*.battle-window img {*/
/*    background-size: cover;*/
/*    background-position: center center; !* Center the image *!*/
/*    background-repeat: no-repeat;*/
/*}*/

.battle-window {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    background: url("../img/assets/arena.png") no-repeat center center fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5rem;
    object-fit: cover;
    background-position: -15rem -15rem;
}

.battle-player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    animation: moveAroundRight 3s infinite alternate;

}

.battle-enemy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    animation: moveAroundLeft 3s infinite alternate;

}

.battle-player-mp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    animation: moveAroundRightMp 5s infinite alternate;
}

.battle-enemy-mp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    animation: moveAroundLeftMp 5s infinite alternate;

}

.character-image {
    width: auto;
    height: 150px;
}

@keyframes moveAroundRightMp {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100% {
        transform: translateX(20px) translateY(20px);
    }
}

@keyframes moveAroundLeftMp {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100% {
        transform: translateX(-20px) translateY(20px);
    }
}

@keyframes moveAroundRight {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100% {
        transform: translateX(20px) translateY(20px);
    }
}

@keyframes moveAroundLeft {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100% {
        transform: translateX(-20px) translateY(20px);
    }
}

.gamelog-flash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    background-color: rgba(255, 90, 232, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    color: #fff;
    text-align: center;
    font-weight: bold;
}

.gamelog-flash ul {
    list-style: none;
    margin: 1rem;
}

.gamelog-flash ul li {
    list-style: none;
    margin: 1rem;
}

