*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    background: url("../img/backgrounds/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.site-header {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffd700;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.main-content {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.main-content-text {
    margin: 1rem;
}

.main-content-text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main-content-img img {
    width: 100%;
    max-width: 200px;
    margin: 1rem;
}

.character-create-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.character-create-form label {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

.character-create-form input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

.character-create-form input[type="submit"] {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    cursor: pointer;
}

.character-create-form input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.character-create-form input[type="submit"]:active {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.character-create-form input[type="submit"]:focus {
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffd700;
}

.character-create-form select {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

.lobby {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.lobby h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.lobby p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.join-room h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.join-room p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.join-room ul {
    list-style: none;
    margin: 1rem;
}

.join-room ul li {
    list-style: none;
    margin: 1rem;
}

.join-room ul li a {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}

