{% extends 'base.html' %}
{% block content %}
    <div class="between-levels-forms">
        <h1>You won! Choose a stat to level up.</h1>
        <form action="{{ url_for('between_levels') }}" method="post" class="levels-form">

            <select name="stat" required>
                <option value="health">HP</option>
                <option value="attack">Attack</option>
            </select>

            <button type="submit" class="continue-button">Continue</button>
        </form>

        <h1>Item shop</h1>
        <p>Your gold: {{ player.gold }}</p>
        <p>Your health potions: {{ player.health_potions }}</p>
        <p>Your attack potions: {{ player.attack_potions }}</p>
        <p>Your mysterious potions: {{ player.mysterious_potions }}</p>

        <form action="{{ url_for('vendor') }}" method="post">
            <button type="submit" name="action" value="attack">Attack potion(15g)</button>
            <button type="submit" name="action" value="health">Health potion(10g)</button>
            <button type="submit" name="action" value="mysterious-potion">Mysterious potion(150g)</button>

        </form>
    </div>

{% endblock %}
