{% extends 'base.html' %}
{% block content %}
    <h1>Create character:</h1>
    <div class="character-create-form">
        <form action="{{ url_for('singleplayer_start') }}" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
            <br>
            <br>
            <label for="character">Pick your class:</label>
            <div class="character-frames">

                <div class="fighter-frame">
                    <input type="radio" name="character" id="fighter" value="fighter" checked>
                    <label for="fighter">
                        <img src="{{ url_for('static', filename='img/player/fighter.png') }}" alt="fighter">
                        Fighter
                    </label>
                </div>
                <div class="mage-frame">
                    <input type="radio" name="character" id="mage" value="mage">
                    <label for="mage">
                        <img src="{{ url_for('static', filename='img/player/mage.png') }}" alt="mage">
                        Mage
                    </label>
                </div>
                <div class="thief-frame">
                    <input type="radio" name="character" id="thief" value="thief">
                    <label for="thief">
                        <img src="{{ url_for('static', filename='img/player/thief.png') }}" alt="thief">
                        Thief
                    </label>
                </div>
                <div class="priest-frame">
                    <input type="radio" name="character" id="priest" value="priest">
                    <label for="priest">
                        <img src="{{ url_for('static', filename='img/player/priest.png') }}" alt="priest">
                        Priest
                    </label>
                </div>
            </div>

            {#            <input type="submit" value="Stwórz">#}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
{% endblock %}
