{% extends 'base.html' %}
{% block content %}
    <div class="battle-window">
        <div class="battle-player">
            <h2>{{ player.name }}</h2>
            <p>Health: {{ player.health }}</p>
            <p>Attack: {{ player.attack }}</p>
            <img class="character-image"
                 src="{{ url_for('static', filename='img/player/' + player.character.lower() + '.png') }}"
                 alt="player">
        </div>
        <div class="battle-enemy">
            <h2>{{ enemy.name }}</h2>
            <p>Enemy Health: {{ enemy.health }}</p>
            <p>Enemy Attack: {{ enemy.attack }}</p>
            <img class="character-image"
                 src="{{ url_for('static', filename='img/characters/' + enemy.name.lower() + '.png') }}" alt="enemy">

        </div>
    </div>

    <div class="battle-options">
        <p> Action points: {{ player.action_points }}</p>
        <form action="{{ url_for('fight') }}" method="post">
            <input type="submit" name="action" value="attack">
            <input type="submit" name="action" value="heal">
            <input type="submit" name="action" value="pass">
        </form>
    </div>
{% endblock %}
