<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>SP-RPG</title>
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% block head %}
    {% endblock %}
</head>

{% block body %}
    <div class="content">
        <header class="site-header">
            <h1><a href="{{ url_for('index') }}">South Park RPG</a></h1>
            <h4><a href="{{ url_for('guide') }}" target="_blank">Guide</a></h4>

        </header>
        <div class="main">
            <div class="main-content">
                {% block content %}
                {% endblock %}
            </div>

            <div class="gamelog-flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
</html>