{% extends 'base.html' %}
{% block content %}
    <h1>Guide </h1>
    <h1> Class Special Abilities</h1>

    <div class="class-guide">
        <h2>Fighter</h2>
        <p>The Fighter class has a special ability:</p>
        <p><strong>Block:</strong> There is a 20% chance to block incoming attacks, reducing damage taken.</p>
    </div>

    <div class="class-guide">
        <h2>Mage</h2>
        <p>The Mage class has a unique skill:</p>
        <p><strong>Potion Mastery:</strong> The Mage can use potions for free, providing healing or other benefits.</p>
    </div>

    <div class="class-guide">
        <h2>Thief</h2>
        <p>The Thief class excels in agility and has a special trait:</p>
        <p><strong>Double Strike:</strong> There is a 30% chance to strike twice in a single attack, delivering extra
            damage.</p>
    </div>

    <div class="class-guide">
        <h2>Priest</h2>
        <p>The Priest class focuses on support and has a self-healing skill:</p>
        <p><strong>Self Heal:</strong> The Priest can heal himself using his special skill, ensuring longevity in
            battles.</p>
    </div>

    <h1> Enemy mechanics: </h1>
    <div class="enemy-mechanics">
        <h2>Enemy</h2>
        <p>The enemy has mechanics to make battles more challenging:</p>
        <br>
        <p><strong>Potion Mastery:</strong> The enemy can use potions during the fight. It may either use attack or heal
            potions.</p>
        <br>
        <p><strong>Enrage:</strong> When the enemy's health drops below a certain level, it enters an enraged state.
            During this state, its attack power increases, making the battle harder.</p>
        <br>
        <p><strong>Counterattack:</strong> The player can perform a quick attack that consumes 1 action point.
            There is a chance that the enemy will counterattack and hit the player back.</p>
    </div>

{% endblock content %}