{% extends "base.html" %}
{% block content %}
    <h1>Welcome, {{ name }}!</h1>
    <h2>Online Player List:</h2>
    <ul>
        {% for user_id, stats in players.items() %}
            <li>
                {{ stats.name }} (HP: {{ stats.hp }}, Attack: {{ stats.attack }})
                {% if  user_id == session['user_id'] %}
                    <form
                            action="{{ url_for('quit_game') }}"
                            method="post"
                            style="display: inline"
                    >
                        <button type="submit">Quit</button>

                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
