{% extends 'base.html' %}

{% block content %}
    <h1>Stwórz postać:</h1>
    <div class="character-create-form">

        <form action="{{ url_for('multiplayer_start') }}" method="post">
            <label for="name">Imię:</label>
            <input type="text" name="name" id="name" required>

            <label for="character">Wybierz klasę postaci: </label>
            <select name="character" id="character">
                <option value="fighter">Fighter</option>
                <option value="mage">Mage</option>
                <option value="thief">Thief</option>
            </select>

            <input type="submit" value="Stwórz">
        </form>
    </div>
{% endblock %}