{% extends 'base.html' %}
{% block head %}
    <meta http-equiv="refresh" content="1">
{% endblock %}
{% block content %}
    <div class="battle-window">
        <div class="battle-player-mp">
            <h2>Player: {{ player1.name }}</h2>
            <p>Health: {{ player1.health }}</p>
            <p>Attack: {{ player1.attack }}</p>
            <img class="character-image"
                 src="{{ url_for('static', filename='img/player/' + player1.character.lower() + '.png') }}"
                 alt="{{ player1.name }}">
        </div>
        <div class="battle-enemy-mp">
            <h2>Player: {{ player2.name }}</h2>
            <p>Health: {{ player2.health }}</p>
            <p>Attack: {{ player2.attack }}</p>
            <img class="character-image"
                 src="{{ url_for('static', filename='img/player/' + player2.character.lower() + '.png') }}"
                 alt="{{ player2.name }}">
        </div>
    </div>

    <div class="battle-options">

        {% if current_player == player1 and session['player1'] == 'player1' %}
            <h3> Action points: {{ player1.action_points }}</h3>
            <form action="{{ url_for('multiplayer_attack') }}" method="post">
                <button type="submit" name="action" value="attack">⚔️ Attack (-4)</button>
                <button type="submit" name="action" value="quick_attack">⚔️ Quick attack (-2)</button>
                {% if player1.character == 'Priest' %}
                    <button type="submit" name="action" value="priest_heal">🍷 Heal (-2)</button>
                {% endif %}
                {% if player1.health_potions > 0 %}
                    <button type="submit" name="action" value="heal">🍷 Use health potion (-1)</button>
                {% endif %}
                {% if player1.attack_potions > 0 %}
                    <button type="submit" name="action" value="attack_potion">💪 Use attack potion (-1)</button>
                {% endif %}
                {% if player1.mysterious_potions > 0 %}
                    <button type="submit" name="action" value="mysterious_potion">❓ Use mysterious potion (-1)</button>
                {% endif %}
                <button type="submit" name="action" value="pass">⏭️ Pass</button>
            </form>
            <p>Your heal potions: {{ player1.health_potions }} 🍷</p>
            <p>Your attack potions: {{ player1.attack_potions }} 💪</p>
        {% elif current_player == player2 and session['player2'] == 'player2' %}
            <h3> Action points: {{ player2.action_points }}</h3>
            <form action="{{ url_for('multiplayer_attack') }}" method="post">
                <button type="submit" name="action" value="attack">⚔️ Attack (-4)</button>
                <button type="submit" name="action" value="quick_attack">⚔️ Quick attack (-2)</button>
                {% if player2.character == 'Priest' %}
                    <button type="submit" name="action" value="priest_heal">🍷 Heal (-2)</button>
                {% endif %}
                {% if player2.health_potions > 0 %}
                    <button type="submit" name="action" value="heal">🍷 Use health potion (-1)</button>
                {% endif %}
                {% if player2.attack_potions > 0 %}
                    <button type="submit" name="action" value="attack_potion">💪 Use attack potion (-1)</button>
                {% endif %}
                {% if player2.mysterious_potions > 0 %}
                    <button type="submit" name="action" value="mysterious_potion">❓ Use mysterious potion (-1)</button>
                {% endif %}
                <button type="submit" name="action" value="pass">⏭️ Pass</button>
            </form>
            <p>Your heal potions: {{ player2.health_potions }} 🍷</p>
            <p>Your attack potions: {{ player2.attack_potions }} 💪</p>
        {% endif %}
    </div>
{% endblock %}
