{% extends 'base.html' %}
{% block head %}
    <meta http-equiv="refresh" content="1">
{% endblock %}
{% block content %}
    <div class="battle-window">
        <div class="battle-player-mp">
            <h2>Player: {{ player1.name }}</h2>
            <p>Health: {{ player1.health }}</p>
            <p>Attack: {{ player1.attack }}</p>
            <img class="character-image"
                 src="{{ url_for('static', filename='img/player/' + player1.character.lower() + '.png') }}"
                 alt="{{ player1.name }}">
        </div>
        <div class="battle-enemy-mp">
            <h2>Player: {{ player2.name }}</h2>
            <p>Health: {{ player2.health }}</p>
            <p>Attack: {{ player2.attack }}</p>
            <img class="character-image"
                 src="{{ url_for('static', filename='img/player/' + player2.character.lower() + '.png') }}"
                 alt="{{ player2.name }}">
        </div>
    </div>

    <div class="battle-options">
        {% if current_player == player1 and session['player1'] == 'player1' %}
            <p> Tura {{ player1.name }} </p>
            <form action="{{ url_for('multiplayer_attack') }}" method="post">
                <input type="submit" name="action" value="attack">
                <input type="submit" name="action" value="heal">
                <input type="submit" name="action" value="pass">
            </form>
        {% elif current_player == player2 and session['player2'] == 'player2' %}
            <p> Tura {{ player2.name }} </p>
            <form action="{{ url_for('multiplayer_attack') }}" method="post">
                <input type="submit" name="action" value="attack">
                <input type="submit" name="action" value="heal">
                <input type="submit" name="action" value="pass">
            </form>
        {% endif %}
    </div>
{% endblock %}
