{% extends 'base.html' %}
{% block head %}
    <meta http-equiv="refresh" content="1">

{% endblock %}
{% block content %}
    <div class="join-room>">
        {% if multiplayer_games %}
            <h1>Lobbies:</h1>
            <ul>
                {% for game_id, game in multiplayer_games.items() %}
                    {% if not game.are_there_two_players() %}
                        <li>
                            <h3>
                                <a href="{{ url_for('multiplayer_join', game=game_id) }}">Lobby
                                    of: {{ game.player1.name }}</a>
                            </h3>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        {% if not multiplayer_games or multiplayer_games|length == 0 %}
            <h3>No games you can join</h3>
        {% endif %}
        <h3><a href="{{ url_for('multiplayer_new') }}">+ Create your own game</a></h3>
    </div>
{% endblock %}
